.Comment{
	position: relative;
	width: 100%;
}
.Comment .content{
    position: relative;
    width: 90vw;
    margin-left: 5vw;
    background: #fff;
    min-height: 16vw;
    margin-bottom: 2vw;
    margin-top: 2vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}
.author{
position: relative;
    width: 78%;
    padding-left: 2%;
    text-align: left;
    float: left;
    color: #00bcd4;
}
.metadata{
position: relative;
    width: 20%;
    float: right;
    text-align: center;
}
.metadata .data{
	position: relative;
	width: 100%;
	font-size: 3vw;
	line-height: 4vw;
	color: #ccc;
	text-align: center;
}
.text{
position: relative;
    margin-left: 3vw;
    line-height: 9vw;
    font-size: 4vw;
}