*{
  margin:0;
  padding:0;
}
.comments{
position: relative;
    width: 100%;
    min-height: 100vh;
    background: #f9fbf9cc;
}
.comments>h2{
    text-align: center;
    background: #00bcd4;
    color: #fff;
    font-size: 5vw;
    line-height: 11vw;
    position: fixed;
    z-index: 99;
    width: 100vw;
}
.divider{
  position: relative;
  width: 100%;
}
.title{
    position: relative;
    width: 96%;
    margin-left: 2%;
    color: #0e0d0d;
    font-size: 5vw;
    line-height: 9vw;
    margin-bottom: 3vw;
}
