.form{
	position: relative;
	width: 100vw;
    margin-top: 4vw;
}
.field{
	position: relative;
	width: 90vw;
	margin-left: 5vw;
	margin-bottom: 3vw;
}
.field>input{
position: relative;
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    border: 1px solid#2196F3;
    border-radius: 1vw;
    color: #F44336;
    font-size: 4vw;
    line-height: 7vw;
    height: 7vw;
    outline: none;
}
.field>textarea{
    position: relative;
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    border: 1px solid#FF5722;
    border-radius: 2vw;
    color: #FF5722;
    font-size: 4vw;
    line-height: 6vw;
    height: 20vw;
    outline: none;
}
.blue{
position: relative;
    width: 90vw;
    margin-left: 5vw;
    font-size: 5vw;
    line-height: 12vw;
    border: 0px;
    color: #fff;
    border-radius: 1vw;
    background: #00BCD4;
}